@using Microsoft.IdentityModel.Tokens
@inject UserService _userService
@inject NavigationManager NavigationManager
@using Dikubot.Webapp.Authentication
@using Dikubot.Webapp.Extensions.Discovery.Links
@using Dikubot.Webapp.Extensions.Discovery.Request
@using Dikubot.Extensions.Guild
@using Dikubot.DataLayer.Database.Global.Settings.Tags

@namespace Dikubot.Webapp.Extensions.Discovery.Links


@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IDialogService DialogService

<MudCard Elevation="25">

            @if (!@Union.BannerUrl.IsNullOrEmpty() && ShowBanner)
                    {
                        <MudCardMedia Image="@Union.BannerUrl" Style="object-fit: cover; height: 60px; min-height: 60px; width: 100%;"/>
                    }
                    else if(ShowBanner)
                    {
                        <MudCardMedia Image="../images/placeholder-banner.png" Style="object-fit: cover; height: 60px; min-height: 60px; width: 100%;"/>
                    }
             <div style="height: 32px; overflow:hidden;">
                 <TagDisplay Tags="Union.Tags"></TagDisplay>
             </div>   
    
    <MudCardHeader Style="padding-bottom: 0; padding-top:0;">

        
        <CardHeaderActions>
            @if (_userService.GetUserGlobalModel().IsAdmin)
            {<MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" OnClick="GoToEdit"/>
            }
            else if (_userService.GetUserGlobalModel().Verified)
            {
                <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" OnClick="GoToMakeRequest"/>
            }
        </CardHeaderActions>

        <CardHeaderAvatar>
            <MudAvatar Size="Size.Large" Image="@Union.LogoUrl"></MudAvatar>
        </CardHeaderAvatar>
        <CardHeaderContent>
            <MudText Typo="Typo.body1" Class="overflow-hidden">@Union.Title</MudText>
             @if (IsChangeGuild)
                            {
                                <MudText Typo="Typo.body2">
                                    @MembersCount(Convert.ToUInt64(Union.Discord)) Medlemmer
                                </MudText>
                            }
             else
             {
                 <MudText Typo="Typo.body2">
               
                     @if (!string.IsNullOrWhiteSpace(Union.Discord))
                     {
                         <MudIconButton Icon="@Icons.Custom.Brands.Discord" aria-label="Discord" OnClick="GoToDiscord" Color="Color.Primary" Size="Size.Medium">
                         </MudIconButton>
                         
                     }
                     @if (!string.IsNullOrWhiteSpace(Union.Href))
                     {
                         <MudIconButton Icon="@Icons.Filled.Link" aria-label="Webpage" Target="_blank" Link="@Union.Href" Color="Color.Primary" Size="Size.Medium"></MudIconButton>
                     }
                     @if (!string.IsNullOrWhiteSpace(Union.Facebook))
                     {
                         <MudIconButton Icon="@Icons.Custom.Brands.Facebook" aria-label="Facebook" Link="@Union.Facebook" Target="_blank" Color="Color.Primary" Size="Size.Medium"></MudIconButton>
                     }

                 </MudText>
             }
            
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent Style="max-height: 100px; min-height: 100px; overflow: scroll; padding-top: 0; padding-bottom: 0">
        <MudText>@Union.Decs</MudText>
    </MudCardContent>
    <MudCardActions>
        @if (IsChangeGuild)
        {
            <JoinGuild GuildID="Convert.ToUInt64(Union.Discord)"></JoinGuild>

        }else if(_userService.GetUserGlobalModel().Verified)
        {
            <MudSpacer/>
            <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="ShowMore">Learn More</MudButton>
            <MudSpacer/>
        } else
        {
            <MudSpacer/>
            <MudButton Variant="Variant.Outlined" Color="Color.Success" Href="/connect">Login</MudButton>
            <MudSpacer/>
        } 
        
    </MudCardActions>
</MudCard>


@if (_userService.GetUserGlobalModel().Verified)
{
    <MudDialog @bind-IsVisible="visible" Options="dialogOptions">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudAvatar Size="Size.Large" Image="@Union.LogoUrl"></MudAvatar>
            @Union.Title
            @if (Union.Discord.IsNullOrEmpty())
            {
                <MudIconButton Icon="@Icons.Filled.Edit" aria-label="Edit" OnClick="GoToMakeRequest" Color="Color.Primary" Size="Size.Medium"></MudIconButton>
            }
        </MudText>
        <TagDisplay Tags="Union.Tags"></TagDisplay>
    </TitleContent>
    <DialogContent>
        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
            <MudTabPanel Text="Beskrivelse" >
                <MudText>@Union.Decs</MudText>
            </MudTabPanel>
            <MudTabPanel Text="Kontakt">
                <MudField Label="Mail" Variant="Variant.Outlined">
                    @Union.Mail
                </MudField>
                <MudField Label="Hjemmeside" Variant="Variant.Outlined">
                    <MudLink Href="@Union.Href"> @Union.Href</MudLink>
                </MudField>
                <MudField Label="Facebook" Variant="Variant.Outlined">
                    <MudLink Href="@Union.Facebook"> @Union.Facebook</MudLink>
                </MudField>
            </MudTabPanel>
        </MudTabs>
        
    </DialogContent>
    <DialogActions>
        @if (!Union.Discord.IsNullOrEmpty())
        {
            <JoinGuild GuildID="Convert.ToUInt64(Union.Discord)"></JoinGuild>
        }
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Submit" Class="px-10">Close</MudButton>
    </DialogActions>
</MudDialog>
}

@code {
    [Parameter] public UnionModel Union{ get; set; }

    [Parameter]
    public bool ShowBanner { get; set; } = false;

    [Parameter]
    public bool IsChangeGuild { get; set; } = false;

    private void GoToEdit()
    {
        NavigationManager.NavigateTo("/Op/Union/edit/"+Union.Id);
    }

    public int MembersCount(ulong GuildId) => Discord.DiscordBot.ClientStatic.GetGuild(GuildId).MemberCount;
    
    private void GoToMakeRequest()
    {
        UnionRequestService _requestService = new UnionRequestService();
        RequestModel<UnionModel> requestModel = new RequestModel<UnionModel>();
        requestModel.RequestItem = Union;
        requestModel.Status = RequestModel<UnionModel>.StatusEmun.change;
        requestModel = _requestService.Upsert(requestModel);
        NavigationManager.NavigateTo("/Request/Union/edit/"+requestModel.Id);
    }

    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
    
    private bool visible;
    private DialogOptions dialogOptions = new() { FullWidth = true };
    
    private void ShowMore() => visible = true;
    void Submit() => visible = false;

    private void GoToDiscord()
    {
        ShowMore();
        
        //NavigationManager.NavigateTo("/");
    }

}