@using Dikubot.DataLayer.Logic.WebDiscordBridge
@using global::Discord.WebSocket
@inject NavigationManager NavigationManager



<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
@if (IsSubdomainValid())
{
    <MudLayout>
        <MudMainContent>
            <CascadingAuthenticationState>
                <Router AppAssembly="@typeof(Startup).Assembly" PreferExactMatches="@true">
                    <Found Context="routeData">
                        <AuthorizeView>
                            <Authorized>
                                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
                            </Authorized>
                            <NotAuthorized>
                                <Login AuthCode="@AuthCode"/>
                            </NotAuthorized>
                        </AuthorizeView>
                    </Found>
                    <NotFound>
                        <RedirectToBase/>
                    </NotFound>
                </Router>
                <MessageAlert />
            </CascadingAuthenticationState>
        </MudMainContent>
        <FooterComponent/>
    </MudLayout>
}
else
{
    <h1>Denne hjemmeside findes ikke</h1>
}

@code {
    [Parameter]
    public string AuthCode { get; set; }
    public bool IsSubdomainValid()
    {
        SocketGuild guild = SubDomainConnector.GetGuildFromDomain(NavigationManager.Uri);
        return guild != null;
    }
    
}