@using global::Discord.WebSocket
@using Dikubot.Discord.Command
@using Dikubot.DataLayer.Database.Global.Session
@using Dikubot.DataLayer.Database.Global.User
@using Dikubot.DataLayer.Database.Guild.Models.User
@using Dikubot.DataLayer.Logic.Email
@using Dikubot.DataLayer.Logic.Email.Emails
@using Dikubot.DataLayer.Logic.User
@using Dikubot.DataLayer.Permissions
@using Dikubot.DataLayer.Static
@using Dikubot.Discord
@using Dikubot.Webapp.Authentication
@using SendGrid.Helpers.Mail
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JsRuntime

<link href="css/diku/login.css" rel="stylesheet"/>
<h1>Velkommen til KU-Liv</h1>
<div class="card w-auto h-auto shadow">
    <div class="card-body">
            @if (incorrectPassword)
            {
                <Alert Color="Color.Danger">Koden du indtastede er desværre ikke korrekt, du bedes derfor indtaste din email igen.</Alert>
                <br/>
            }
            @if (String.IsNullOrEmpty(secretPassword))
            {
                <h5 class="card-title">Bekræft din email</h5>
                <div class="textFieldDiv">
                    <Validation Validator="@ValidateEmail">
                        <Field>
                            <Label>Vi skal bruge din email, for at bekræfte du går på KU</Label>
                            <TextEdit Placeholder="xyz123@alumni.ku.dk"
                                      Style="padding-bottom: 5px" Class="text-field"
                                      @bind-Text="email" KeyDown="@EmailOnEnter">
                                <Feedback>
                                    <ValidationNone>Indtast din KU-mail</ValidationNone>
                                    <ValidationError>Det er ikke en valid KU-mail</ValidationError>
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Button Clicked="@SendEmail">Send email</Button>
                </div>
            }
            else
            {
                <h5 class="card-title">Vi har sendt en kode til din email: @(email)</h5>
                <div class="textFieldDiv">
                    <Field>
                        <Label>Indtast koden her:</Label>
                        <TextEdit Placeholder="Hemmeligt kodeord"
                                  Style="padding-bottom: 5px" Class="text-field"
                                  @bind-Text="passwordInput" KeyDown="@PasswordOnEnter"></TextEdit>
                    </Field>
                    <Button Clicked="ConfirmEmailPassword">Bekræft kode</Button>
                </div>
            }
    </div>
</div>

@code {
     [Parameter]
    public Login parent { get; set; }

    private Authenticator authenticator;
    private UserIdentity user;
    private string email = "";
    private string errorInputMessage = "";
    private string secretPassword = "";
    private string passwordInput = "";
    bool incorrectPassword = false;
    bool validEmail = false;

    public void EmailOnEnter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter")
        {
            SendEmail();
        }
    }
    
    public void PasswordOnEnter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter")
        {
            ConfirmEmailPassword();
        }
    }
    
    protected override async Task OnInitializedAsync()
    {
        authenticator = ((Authenticator) AuthenticationStateProvider);
        var authState = await authenticator.GetAuthenticationStateAsync();
        user = (UserIdentity) authState.User.Identity;
    }

    private void ValidateEmail(ValidatorEventArgs e)
    {
        if (string.IsNullOrWhiteSpace(e.Value.ToString()) && !Util.IsKUEmail(e.Value.ToString()))
        {
            e.Status = ValidationStatus.Error;
            validEmail = false;
            return;
        }
        e.Status = ValidationStatus.Success;
        validEmail = true;
    }

    private async void SendEmail()
    {
        if (!validEmail)
        {
            return;
        }

        secretPassword = Util.SimpleRandomString(12);
        VerificationEmail verification = new VerificationEmail(new EmailAddress(email), secretPassword);
        await EmailService.SendEmail(verification);
        await InvokeAsync(() => { StateHasChanged(); });
    }

    private async void ConfirmEmailPassword()
    {
        if (!passwordInput.Equals(secretPassword) || string.IsNullOrEmpty(secretPassword))
        {
            passwordInput = "";
            email = "";
            incorrectPassword = true;
            secretPassword = "";
            await InvokeAsync(() => { StateHasChanged(); });
            return;
        }
        IReadOnlyCollection<SocketGuild> mutualGuilds = DiscordBot.Client.GetUser(user.UserGlobalModel.DiscordIdLong).MutualGuilds;
        UserGlobalServices userGlobalServices = new UserGlobalServices();
        foreach(SocketGuild mutualGuild in mutualGuilds)
        {
            UpdateUserInGuild(mutualGuild, userGlobalServices);
        }
        user.UserGlobalModel.Email = email;
        user.UserGlobalModel.Verified = true;
        userGlobalServices.Upsert(user.UserGlobalModel);
        SessionModel sessionModel = new SessionModel(user.UserGlobalModel);
        await authenticator.UpdateSession(sessionModel);
        parent.Update();
    }
    public async void UpdateUserInGuild(SocketGuild guild, UserGlobalServices userGlobalServices)
    {
        UserGuildServices userGuildServices = new UserGuildServices(guild);
        PermissionsService permissionsService = new PermissionsService(guild);
        UserGuildModel newUser = userGuildServices.Get(user.UserGlobalModel.DiscordId);
        
    //In case the email already exists, then we simply override the old user with the new user, while removing the old user's roles on the Discord server
        if (userGlobalServices.EmailExists(email))
        {
        //We get the old user
            UserGuildModel oldUser = userGuildServices.Get(userGlobalServices.GetFromEmail(email).DiscordId);

            if (oldUser.DiscordId != newUser.DiscordId)
            {
    //We override the old user's id and set our current user to old user
                string oldId = oldUser.DiscordId;
                oldUser.DiscordId = newUser.DiscordId;
                newUser = oldUser;

        //We now update all the Discord roles of our users. The old discord user will have all their roles removed, while the new user will get all the old user's roles.
                permissionsService.SetDiscordUserRoles(new UserGuildModel() {DiscordId = oldId});   
            }
        }
        
        permissionsService.SetDiscordUserRoles(newUser);
        
        string name = new KUUser(email.Split("@")[0]).GetName();
        if (name != "")
        {
            newUser.Name = name;
            try
            {
                await guild.GetUser(Convert.ToUInt64(newUser.DiscordId)).ModifyAsync(guildUser =>
                {
                    guildUser.Nickname = name;
                });
            }
            catch (Exception e)
            {
    //ignored
            }
        }
        userGuildServices.Upsert(newUser);        
    }
}