<h3>TestEventWidget</h3>



@code {
    /*
     
     <MudCard>
        <MudCardContent>
            <div class="d-flex flex-grow-1 gap-4" style="width: 100%">
                <div Class="flex-shrink-1 py-8" style="width: 100%" Elevation="0"> 
            
                    <MudTabs Outlined="true"
                             Position="Position.Start"
                             Rounded="true" Border="true"
                             ApplyEffectsToContainer="true"
                             PanelClass="flex-shrink-1 w-100"
                             HeaderPosition="TabHeaderPosition.Before">
                        <Header>
                            <MudText Typo="Typo.h5">@Model.Subject</MudText>
                        </Header>

                        <ChildContent>
                            <MudTabPanel Text="Beskrivelse" >
                                <MudField Label="Beskrivelse" Variant="Variant.Outlined" Style="width: 100%">
                                    <MudCardContent Style="width: 100%; max-height: 150px; min-height: 150px; overflow: scroll; padding-top: 0; padding-bottom: 0">
                                        <MudText Typo="Typo.body2">
                                            test
                                            
                                        </MudText>
                        
                                    </MudCardContent>
                                </MudField>
                            </MudTabPanel>
                            
                            <MudTabPanel Text="Details" >
                                <MudField Label="Details" Variant="Variant.Outlined">
                                        <MudCardContent Style="width: 100%; max-height: 150px; min-height: 150px; overflow: scroll; padding-top: 0; padding-bottom: 0">
                                            <div style="height: 32px; overflow: hidden">
                                                                                            <TagDisplay Tags="Model.Tags"/>
                                                                                        </div>
                                                                                        <MudField Adornment="Adornment.Start" AdornmentIcon="@Icons.Filled.AccessTime">
                                                                                            @Model.Time()
                                                                                        </MudField>
                                                                                        <MudField AdornmentIcon="@Icons.Filled.Place" Adornment="Adornment.Start">
                                                                                            @Model.Location
                                                                                        </MudField>
                                            <MudField AdornmentIcon="@Icons.Filled.People" Adornment="Adornment.Start">
                                                @Model.Accepted.Count.ToString()
                                            </MudField>
                                            
                                        </MudCardContent>
                                    </MudField>
                            </MudTabPanel>
                            <MudTabPanel Text="Beskrivelse">
                                <MudField Label="Beskrivelse" Variant="Variant.Outlined">
                                    <MudCardContent Style="width: 100%; max-height: 150px; min-height: 150px; overflow: scroll; padding-top: 0; padding-bottom: 0">

                                        <MudText Typo="Typo.body2">
                                            @(Model.Description)
                                        </MudText>

                                    </MudCardContent>
                                </MudField>
                            </MudTabPanel>
                        </ChildContent>
                    </MudTabs>
                </div>
                <div Class="flex-none py-8" Width="64px" Elevation="0"> 
                    <MudButton Color="JoinColor" Disabled="@_processing" OnClick="JoinEvent" Variant="Variant.Filled">
                        @if (_processing)
                        {
                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                            <MudText Class="ms-2">Processing</MudText>
                        }
                        else
                        {
                            <MudText>@JoinText</MudText>
                        }
                    </MudButton>
                </div>
            </div>
            
    
        </MudCardContent>
           
        
    </MudCard>
     */
}