@using Dikubot.Webapp.Authentication
@using global::Discord.WebSocket

@using Dikubot.DataLayer.Database.Global.User
@using Dikubot.DataLayer.Database.Guild.Models.Calendar
@using Dikubot.DataLayer.Database.Guild.Models.Calendar.Events
@using Dikubot.DataLayer.Database.Models
@using Dikubot.Discord
@using Dikubot.Extensions.Models.Equipment
@using Dikubot.Extensions.Models.Equipment.Equipment
@using Microsoft.IdentityModel.Tokens
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.Data

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserService _userService;

@namespace Dikubot.Extensions.Calender


  @if (true)
    {
<div class="control-section">
    <SfSchedule @ref="ScheduleObj" 
                ID="schedule" 
                TValue="EventModel"
                Width="100%" 
                Height="650px" 
                @bind-SelectedDate="@CurrentDate"
                Readonly="ReadOnly"
                ShowWeekNumber="true"
                FirstDayOfWeek="1">
        <ScheduleEventSettings TValue="EventModel" DataSource="@ArrangementData">
            <ScheduleEvents TValue="EventModel" ActionCompleted="OnActionCompleted"></ScheduleEvents>
        </ScheduleEventSettings>
        <ScheduleViews>
            <ScheduleView Option="View.Month"></ScheduleView>
        </ScheduleViews>
        <ScheduleQuickInfoTemplates>
            <ContentTemplate>
                       @if (((EventModel) context).Id == Guid.Empty )
                                       {
                                       }
                                       else
                                       {
                                           EventModel Data = context as EventModel;
                                           <EventWidget Model="@Data" ShowTitle="false"></EventWidget>
                                           
                                       }
                    </ContentTemplate>

                </ScheduleQuickInfoTemplates>
    </SfSchedule>
</div>
    }else
    {
        <Loading></Loading>
}

@code{
    ///            <SfDataManager AdaptorInstance="@typeof(CustomAdaptor)" Adaptor="Adaptors.CustomAdaptor"></SfDataManager>
    //// https://github.com/syncfusion/blazor-showcase-appointment-planner/blob/master/server-side/AppointmentPlanner/Pages/Schedule/Schedule.razor
    //// https://github.com/SyncfusionExamples/google-calendar-synchronization-with-blazor-scheduler/blob/main/Pages/Index.razor
    ///             <SfDataManager AdaptorInstance="@typeof(EquipmentAdaptor)" Adaptor="Adaptors.CustomAdaptor" Key="test" ></SfDataManager> 
    [Parameter]
    public static ulong? GuildId { get; set; }

    [Parameter]
    public bool ReadOnly { get; set; } = true;
    
    [Parameter]
    public List<CalendarModel> ResourceDatasource { get; set; } = new List<CalendarModel>();
   
    
    [Inject] 
    protected IJSRuntime JsRuntime { get; set; }


    public List<EventModel> ArrangementData => _eventsServices.Get(CurrentDate, _userService);
        
    
    SfSchedule<EventModel> ScheduleObj { get; set; }
    
    
    private DateTime CurrentDate { get; set; } = DateTime.Today;
    
    private SocketGuild guild;
    private UserGlobalModel _user => _userService.GetUserGlobalModel();
    
    
    
    private EventsServices _eventsServices = new EventsServices(GuildId?.ToString());
    
    
    protected override async Task OnInitializedAsync()
    {
        if (!ReadOnly)
        {
            ReadOnly = !_user.Verified;
        }
        base.OnInitialized();
        

    }
    
    
    public void OnCellClick(CellClickEventArgs args)
    {
        args.Cancel = true;
    }
    public void OnActionBegin(ActionEventArgs<EventModel> args)
    {
        if (args.ActionType == ActionType.EventCreate && args.AddedRecords.Count > 0)
        {
            foreach(EventModel Data in args.AddedRecords)
            {
                Data.Id = _eventsServices.Upsert(Data).Id;
            }
        }
    }
    
    
    
    private void OnActionCompleted(ActionEventArgs<EventModel> args)
    {
        if (args.ActionType == ActionType.DateNavigate || args.ActionType == ActionType.EventCreate || args.ActionType == ActionType.EventChange || args.ActionType == ActionType.EventRemove)
        {
            if (args.AddedRecords != null && args.AddedRecords.Count > 0)
            {
                foreach (EventModel eventData in args.AddedRecords)
                {
                    eventData.CreateBy = _user.DiscordId;
                    _eventsServices.Upsert(eventData);
                }
            }
            if (args.ChangedRecords != null && args.ChangedRecords.Count > 0)
            {
                foreach (EventModel eventData in args.ChangedRecords)
                {
                    if (!eventData.IsReadonly)
                    {
                        _eventsServices.Upsert(eventData);
                    }
                }
            }
            if (args.DeletedRecords != null && args.DeletedRecords.Count > 0)
            {
                foreach (EventModel eventData in args.DeletedRecords)
                {if (!eventData.IsReadonly)
                {
                    _eventsServices.Remove(eventData);
                }
                }
            }
            
        }
    }
    
     
    
    
}
