@using Dikubot.Webapp.Authentication
@using global::Discord.WebSocket

@using Dikubot.DataLayer.Database.Global.User
@using Dikubot.DataLayer.Database.Guild.Models.Calendar
@using Dikubot.DataLayer.Database.Guild.Models.Calendar.Equipment
@using Dikubot.DataLayer.Database.Models

@using Dikubot.Discord
@using Dikubot.Extensions.Models.Equipment

@using Syncfusion.Blazor
@inject AuthenticationStateProvider AuthenticationStateProvider

@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.Data


@using UserIdentity = Dikubot.Webapp.Authentication.UserIdentity

  @if (true)
    {
<div class="control-section">
    <SfSchedule @ref="scheduleObj" ID="schedule" TValue="EquipmentModel" Width="100%" Height="650px" @bind-SelectedDate="@CurrentDate">
        <ScheduleTemplates>
            <ResourceHeaderTemplate>
                <div class='template-wrap'>
                    <div class="Calendar-name"><b>@(((context as TemplateContext).ResourceData as CalendarModel).Name)</b></div>
                    <div class="Calendar-designation">@(((context as TemplateContext).ResourceData as CalendarModel).Decs)</div>
                </div>
            </ResourceHeaderTemplate>
        </ScheduleTemplates>
        <ScheduleGroup EnableCompactView="false" Resources="@groupData"></ScheduleGroup>
        <ScheduleResources>
            <ScheduleResource TItem="CalendarModel" TValue="Guid" DataSource="@ResourceDatasource" Field="EquiqmentId" Title="Resources" Name="Resources" TextField="Name" IdField="Id" ColorField="Color" AllowMultiple="false"></ScheduleResource>
        </ScheduleResources>
        
        <ScheduleEventSettings TValue="EquipmentModel" DataSource="@EquipmentData">

            </ScheduleEventSettings>
            <ScheduleEvents TValue="EquipmentModel" ActionCompleted="OnActionCompleted"></ScheduleEvents>
        <ScheduleViews>
            <ScheduleView MaxEventsPerRow="1" Option="View.TimelineMonth" AllowVirtualScrolling="true"></ScheduleView>
        </ScheduleViews>
    </SfSchedule>
</div>
    }else
    {
        <Loading></Loading>
}

@code{
    ///            <SfDataManager AdaptorInstance="@typeof(CustomAdaptor)" Adaptor="Adaptors.CustomAdaptor"></SfDataManager>
    //// https://github.com/syncfusion/blazor-showcase-appointment-planner/blob/master/server-side/AppointmentPlanner/Pages/Schedule/Schedule.razor
    //// https://github.com/SyncfusionExamples/google-calendar-synchronization-with-blazor-scheduler/blob/main/Pages/Index.razor
    ///             <SfDataManager AdaptorInstance="@typeof(EquipmentAdaptor)" Adaptor="Adaptors.CustomAdaptor" Key="test" ></SfDataManager> 
        [Parameter]
    public ulong GuildId { get; set; }

    [Inject] 
    protected IJSRuntime JsRuntime { get; set; }
    
    
    
    SfSchedule<EquipmentModel> scheduleObj { get; set; }
    


    bool editUpcoming = true;
    
    private int CurrentYear;
    public List<CalendarModel> ResourceDatasource = new List<CalendarModel>();
    public List<EquipmentModel> EquipmentData = new List<EquipmentModel>();
    private string[] groupData = { "Resources" };
    private DateTime CurrentDate { get; set; } = DateTime.Today;
    
    private Authenticator authenticator;
    private UserIdentity user;
    private SocketGuild guild;
    private UserGlobalModel _userGlobalModel;

    
    private CalendarServices _calendarServices;
    private EquipmentServices _equipmentServices;
    
    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();

        authenticator = ((Authenticator) AuthenticationStateProvider);
        var authState = await authenticator.GetAuthenticationStateAsync();
        user = (UserIdentity) authState.User.Identity;
        if (user == null)
        {
            return;
        }
        guild = DiscordBot.Client.GetGuild(GuildId);
        _calendarServices = new CalendarServices(guild);
        _equipmentServices = new EquipmentServices(guild);

        var test = user.GetRolesGuid();
        
        ResourceDatasource = GetCalendarModels();
        EquipmentData = GetEvents(CurrentDate);
        
    }
    
    
    public void OnCellClick(CellClickEventArgs args)
    {
        args.Cancel = true;
    }
    public void OnActionBegin(ActionEventArgs<EquipmentModel> args)
    {
        if (args.ActionType == ActionType.EventCreate && args.AddedRecords.Count > 0)
        {
            foreach(EquipmentModel Data in args.AddedRecords)
            {
                Data.Id = _equipmentServices.Upsert(Data).Id;
            }
        }
    }

    private List<CalendarModel> GetCalendarModels()
    {
        return _calendarServices.GetAll(model => model.CalendarType == CalendarModel.EnumCalendarType.Equipment)
            .FindAll(model => model.Visible != CalendarModel.EnumAvailable.Privat 
                              || model.Permission.Overlaps(user.GetRolesGuid())
                              || model.View.Overlaps(user.GetRolesGuid()));
        
    }
    
    private List<EquipmentModel> GetEvents(DateTime CurrentDate)
    {
        return GetEvents(new DateTime(CurrentDate.Year,CurrentDate.Month, 1), 
            new DateTime(CurrentDate.Year,CurrentDate.Month, 
                DateTime.DaysInMonth(CurrentDate.Year,CurrentDate.Month),
                23,59,59));
    }

    private List<EquipmentModel> GetEvents(DateTime startTime, DateTime endTime)
    {

        List<EquipmentModel> result =
            _equipmentServices.GetAll(model => model.StartTime.CompareTo(startTime) >= 0 ||
                                               model.StartTime.CompareTo(endTime) <= 0
                                               ||
                                               (model.EndTime.CompareTo(startTime) >= 0
                                                && model.EndTime.CompareTo(endTime) <= 0)
                ).Select(m => { m.IsReadonly 
                    = !(m.CreateBy == user.DiscordId || ResourceDatasource.First(rd => rd.Id == m.EquiqmentId).Permission.Overlaps(user.GetRolesGuid())); return m; }).ToList();
    //.FindAll(EMmodel => ResourceDatasource
    //                .Exists(RDmodel => RDmodel.View.Contains(EMmodel.EquiqmentId) ||
    //                                   RDmodel.Permission.Contains(EMmodel.EquiqmentId)));
        
        
        return result;
    }
    
    
    private void OnActionCompleted(ActionEventArgs<EquipmentModel> args)
    {
        if (args.ActionType == ActionType.DateNavigate || args.ActionType == ActionType.EventCreate || args.ActionType == ActionType.EventChange || args.ActionType == ActionType.EventRemove)
        {
            if (args.AddedRecords != null && args.AddedRecords.Count > 0)
            {
                foreach (EquipmentModel eventData in args.AddedRecords)
                {
                    eventData.CreateBy = user.DiscordId;
                    _equipmentServices.Upsert(eventData);
                }
            }
            if (args.ChangedRecords != null && args.ChangedRecords.Count > 0)
            {
                foreach (EquipmentModel eventData in args.ChangedRecords)
                {
                    if (!eventData.IsReadonly)
                    {
                        _equipmentServices.Upsert(eventData);
                    }
                }
            }
            if (args.DeletedRecords != null && args.DeletedRecords.Count > 0)
            {
                foreach (EquipmentModel eventData in args.DeletedRecords)
                {if (!eventData.IsReadonly)
                {
                    _equipmentServices.Remove(eventData);
                }
                }
            }
            this.EquipmentData = GetEvents(CurrentDate);
        }
    }
    
     
    
    
}
